
<div class="container">
    <p>
        Correo electrónico Enviado!!
    </p>
    <ul>
        <li>{{nombreForm}}</li>
        <li>{{emailForm}}</li>
        <li>{{MessageForm}}</li>
    </ul>
</div>